<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Name</key>
	<string>SwiftUI Component</string>
	<key>Description</key>
	<string>SwiftUI Component</string>
	<key>Summary</key>
	<string>Use it for SwiftUI Component</string>
	<key>SortOrder</key>
	<integer>300</integer>
	<key>DefaultCompletionName</key>
	<string>Component</string>
</dict>
</plist>
